/************ Variables ************/
:root {
  --mainColor: #10cab7;
  --secColor: rgb(5, 71, 81);
}
/************ Globale rules ***********/
body {
  font-family: "Work Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* small screen */
@media (min-width: 767px) {
  .container {
    width: 740px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*************** header *************/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-size: 50px;
  /* color: rgb(0, 219, 219); */
}
.header li {
  list-style-type: none;
  padding: 10px;
  color: #333;
}
.header li:hover {
  padding-left: 25px;
  transition: .5s;
}
.header li:not(:last-child) {
  border-bottom: #d1d0d0 solid 1px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
.header .container .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .container .icon span:first-child,
.header .container .icon span:last-child {
  width: 100%;
}
.header .container .icon span:nth-child(2) {
  width: 60%;
  transition: .3s;
}
.header .links ul {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  border-radius: 3px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #F6F6F6 transparent;
  top: -20px;
  right: 5px;
}
.header .links:hover ul {
  display: block;
}
/********** Landing page **********/
.landing {
  background-image: url(../img/360_F_696155529_65Hk88FJKBKqKk9NvRZ2Yu31GEnmddAX.jpg);
  background-size: cover;
  height: calc(100vh - 57.5px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  /* color: var(--mainColor);  */
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/************* Features *************/
.features {
  background-color: #F6F6F6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.features .container div {
  padding: 50px 10px;
  text-align: center;
  line-height: 1.8;
  background-color: #f1f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px #d0d0d0;
}
.features .container div i {
  font-size: 40px;
  color: var(--mainColor);
}
/************* special heading *************/
.special-heading {
  text-align: center;
  font-size: 100px;
  letter-spacing: -3px;
  color: #ddd;
  margin: 0;
}
.special-heading + p {
  margin: -28px 0 0;
  text-align: center;
  color: #777;
}
@media (max-width: 767px) {
  .special-heading {
    width: 40px;
    /* text-align: center; */
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/************* services *************/
.services .container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .container2 div .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .container2 div .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .container2 div .srv i {
    margin-bottom: 20px;
  }
  .services .container2 div .srv .text {
    padding-right: 40px;
    flex: 1;
  }
}
.services .container2 div .srv i{
  color: var(--mainColor);
  font-size: 40px;
}
.services .container2 div .srv .text {
  flex: 1;
  padding-left: 35px;
}
.services .container2 div .srv .text h3 {
  margin-top: 0;
}
.services .container2 div .srv .text p {
  line-height: 1.7;
  color: #777;
}
.services .container2 .three .image {
  height: 350px;
  width: 350px;
  position: relative;
}
.services .container2 .three .image::before {
  content: "";
  position: absolute;
  background-color: var(--secColor);
  width: 100px;
  height: 400px;
  right: 0;
  top: -50px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .container2 .three {
    display: none;
  }
}
/************* Portfolio *************/
.portfolio {
  background-color: #F6F6F6;
  padding: 60px 0;
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* justify-content: space-between; */
  gap: 30px;
  margin-top: 100px;
}
.portfolio .container div {
  background-color: white;
}
.portfolio .container div img {
  max-width: 100%;
}
.portfolio .container div .text {
  line-height: 1.8;
  padding: 0 20px;
}
.portfolio p {
  color: #777;
}
/************* About *************/
.about {
  padding: 60px 0;
  padding-bottom: 130px;
}
.about .container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.about .container .content {
  flex-basis: calc(100% - 400px);
}
.about .container .content p {
  line-height: 1.8;
}
.about .container .content .p1 {
  font-weight: bold;
}
.about .container .image {
  width: 250px;
  height: 375px;
  position: relative;
}
.about .container .image img {
  width: 100%;
}
.about .container .image::before {
  position: absolute;
  content: "";
  width: 100px;
  height: calc(100% + 80px);
  background-color: #f1f1f1;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .container .image::after {
  position: absolute;
  content: "";
  background-color: transparent;
  border-left: solid 80px var(--mainColor);
  border-bottom: solid 80px var(--mainColor);
  width: 120px;
  height: 300px;
  top: -40px;
  z-index: -1;
  right: -150px;
}
.about .container .content {
  padding:  20px 80px;
}
.about .container .content hr {
  width: 60%;
  display: inline-block;
  border-color: var(--mainColor);
}
@media (max-width: 992px) {
  .about .container {
    flex-flow: column wrap;
    align-items: center;
    /* margin-top: 50px; */
  }
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
  .about .container-head {
    text-align: center;
  }
  .about .container .image {
    margin-bottom: 50px;
  }
  .about .container .image::before,
  .about .container .image::after {
    display: none;
  }
}
/************* Contact *************/
.contact {
  padding: 60px 0;
  background-color: #F6F6F6;
}
.contact .info {
  padding: 60px 0;
  text-align: center;
}
.contact .info .label {
  color: var(--secColor);
  font-weight: 800;
  font-size: 35px;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  font-size: 35px;
  color: var(--mainColor);
  font-weight: 800;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secColor);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info a {
    font-size: 25px;
  }
}
/************* Footer *************/
.footer {
  padding: 30px 0;
  background-color: var(--secColor);
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.footer span {
  color: var(--mainColor);
}